@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.App{
    background-image: url("./assets/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    max-height: 100%;
    /* height: 200vh; */
}